/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Neuton', serif;
    max-width: 1200px;
}

nav a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
}

.top-of-page-nav {
    position: relative;
}

.top-of-page-nav a {
    color: #76743e;
    text-decoration: none;
}

.top-of-page-nav a:hover {
    color: #656536;
    text-decoration: underline;
}

.top-of-page-nav ul{
    list-style-type: none;
    float: right;
}

.top-of-page-nav li{
    display: inline-block;
    padding: 2em 1em;
    letter-spacing: 1px;
}

/* start heading section */

.main-heading {
    background-color: rgba(131, 106, 145, 0.4);
    margin: 135px 0 0;
    clear: both;
    width: 100%;
    height: 39.5em;
    position: relative;
}

.header-image {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
}

.main-heading-white-circle {
    position: absolute;
    background-color: #fff;
    width: 16.5em;
    height: 16.5em;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.main-heading-logo {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 15%;
}

.header-nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.header-nav a {
    color: #fbfbfb;
    text-decoration: none;
}

.header-nav a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.header-nav ul{
    list-style-type: none;
    text-align: center;
}

.header-nav li {
    padding: 1.5em 3.75em;
    display: inline-block;
    letter-spacing: 1px;
}

.main-heading-tagline {
    position: absolute;
    color: #fff;
    left: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-heading-tagline h1 {
    font-weight: normal;
    font-size: 2.5em;
}

.main-heading-tagline a {
    color: #edb23b;
    font-size: 1.25em;
    text-decoration: none;
    padding-bottom: .05em;
    border-bottom: 1px solid #edb23b;
}

.main-heading-tagline a:hover {
    color: #f7dca4;
    border-bottom: 1px solid #f7dca4;
}

/* start store location section */

.store-locations-container {
    display: flex;
    background-color: #f6f6f6;
    position: relative;
    z-index: -20;
}

.store-locations-container h2 {
    display: none;
}

.store-location {
    width: 33.333333%;
    justify-content: space-around;
    padding: 2em 1em;
    position: relative;
}

.store-photo {
    background-color: rgba(86, 82, 90, 0.7);
}

.store-background {
    width: 100%;
    position: relative;
    z-index: -10;
}

.city-state {
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 24%;
    transform: translate(-50%,-50%);
}

.city-state h3 {
    font-size: 2.25em;
    font-weight: normal;
}

.city-state p {
    font-family: 'Quicksand', serif;
    font-size: .9em;
    padding-top: .75em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.store-details {
    background-color: #fff;
    line-height: 1.625em;
}

.store-details li {
    list-style-type: none;
    text-align: center;
    margin: 0 20px;
    padding: 1.05em;
    color: #444;
    font-size: 1.15em;
}

.store-details a {
    color: #76743e;
}

.address {
    border-bottom: 1px solid #ddd;
}

.address a {
    text-decoration: none;
}

.phone {
    border-bottom: 1px solid #ddd;
}

.hours {
    border-bottom: 1px solid #ddd;
}

/* start blog post section */

.blog-section {
    text-align: center;
    padding-bottom: 6em;
}

.blog-section h2 {
    display: none;
}

.divider-icon {
    width: 2.5em;
    margin: 3.75em;
}

.blog-posts-container {
    display: flex;
}

.blog-post {
    justify-content: space-around;
    width: 50%;
    padding: 0 1em;
    text-align: left;
    font-size: 1.15em;
    color: #444;
    line-height: 1.5em;
}

.blog-pic {
    width: 100%;
}

.blog-post h3 a {
    color: #76743e;
    font-weight: normal;
}

.blog-post h3 {
    font-size: 2em;
    font-weight: normal;
    color: #444;
    padding: .75em 0;
}

.blog-post a {
    color: #76743e;
}

.blog-post p {
    padding: .5em 0;
}

.learn-more-button {
    background-color: #76743e;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: .5em 1em;
    margin-top: .75em;
    line-height: 0;
}

.learn-more-button a {
    color: #fff;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.event-description {
    text-transform: uppercase;
    font-size: .9em;
}

.event-date {
    font-weight: bold;
}

.specific-date-information {
    font-style: italic;
}

/* start deals section */

.deals {
    clear: both;
    width: 100%;
    position: relative;
}

.deals h2 {
    display: none;
}

.white-circle-1 {
    position: absolute;
    border-radius: 50%;
    width: 11em;
    height: 11em;
    left: 15%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
}

.deal-1 {
    position: absolute;
    text-transform: uppercase;
    font-size: .9em;
    font-family: 'Quicksand', sans-serif;
    left: 15%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #6f1e23;
    text-align: center;
    z-index: 2;
}

.flower-icon {
    position: absolute;
    left: 15%;
    top: 60%;
    width: 3em;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.white-circle-2 {
    position: absolute;
    border-radius: 50%;
    width: 11em;
    height: 11em;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
}

.deal-2 {
    position: absolute;
    text-transform: uppercase;
    font-size: .9em;
    font-family: 'Quicksand', sans-serif;
    left: 40%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #6f1e23;
    text-align: center;
    z-index: 2;
}

.heart-icon {
    position: absolute;
    left: 40%;
    top: 60%;
    width: 3.5em;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.view-more-deals-button {
    position: absolute;
    background-color: #dc4d63;
    right: 15%;
    top: 40%;
    border: none;
    border-radius: 5px;
    padding: .65em 1em;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.view-more-deals-button a {
    text-decoration: none;
    color: #fff;
}

/* start membership section */

.membership-details {
    margin: 6em;
    color: #444;
}

.membership-details ul {
    margin: 0 1.25em;
    line-height: 2.75em;
}

.membership-details li {
    font-size: 1.15em;
}

.membership-details h2 {
    font-weight: normal;
    font-size: 2em;
    padding-bottom: .35em;
}

.membership-tagline {
    padding: 1em 0;
}

.learn-more-about-becoming-an-owner-button {
    background-color: #76743e;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: .5em .75em;
}

.learn-more-about-becoming-an-owner-button a {
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

/* start newsletter section */

.newsletter-form {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 5em;
}

.newsletter-title {
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    position: relative;
}

.newsletter-form h2 {
    font-size: 2.25em;
    color: #fff;
    font-weight: normal;
}

.newsletter-tagline {
    text-transform: uppercase;
    font-size: .9em;
    color: #fff;
}

.newsletter-background-image {
    position: relative;
    z-index: -10;
}

.newsletter-boxes {
    display: flex;
    margin: -9em auto;
    justify-content: space-around;
    width: 80%;
}

.newsletter-boxes input {
    width: 15%;
    padding: .6em;
    border-radius: 5px;
    border: none;
    color: #444;
}

.newsletter-boxes select {
    color: #444;
}

.subscribe input {
    color: #fff;
    background-color: #dc4d63;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 1em 3.5em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* start footer section */

footer {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    line-height: 2em;
    padding: 20em 3em;
}

footer h2 {
    display: none;
}

footer a {
    color: #76743e;
}

footer img {
    width: 15%;
}

.social-icons ul {
    list-style-type: none;
    text-align: center;
}

.social-icons li {
    padding: 2em .5em;
    display: inline-block;
}

.social-icons i {
    font-size: 3em;
}

.footer-nav ul {
    list-style-type: none;
    text-align: center;
}

.footer-nav li {
    padding: 2em 1em;
    display: inline-block;
}

.footer-nav a {
    color: #76743e;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #656536;
    text-decoration: underline;
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
